* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f7fb;
}

.navbar {
  background: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #0d6efd;
}

.btn-primary {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 2px solid #0d6efd;
  color: #0d6efd;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.form-container {
  max-width: 500px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 14px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
}

.cards {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.home-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.status {
  font-weight: bold;
  margin-top: 10px;
}

.available {
  color: green;
}

.rented {
  color: red;
}

.card-btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #dc3545;
  color: white;
  cursor: pointer;
}
